/* Olivia Hiltebetiel
   Liv's Bicycle CSS Style Page
   Southern Illinois University
   Date Developed: January 24, 2024
   Date Tested: February 25, 2024 */
   


/* sets up media queries so webiste can be displayed well on different screens and devices */
@media only screen and (max-width: 2024px) { 
    #mobile_menu { display: none; }    
}

@media only screen and (max-width: 959px) { 
    #mobile_menu { display: none; } 
}

@media only screen and (max-width: 767px) { 
    #mobile_menu { display: block; }
    #nav_menu { display: none; }
    header h2 { font-size: 1.375em; }       
    header h3 { font-size: .8125em; }    
    p { font-size: .875em; }            
    article h1, main h2, aside h2
        { font-size: 1em; }            
    aside li { font-size: .875em; }     
    
}

@media only screen and (max-width: 479px) { 
    #mobile_menu { display: block; }
    #nav_menu { display: none; }
    header h2 { font-size: 1.375em; }   
    header h3 { font-size: .8125em; }    
    p { font-size: .875em; }             
    article h1, main h2, aside h2 
        { font-size: 1em; }              
    aside li { font-size: .875em; }      
  
}


html {
    margin: 10px;                           /* sets margin of entire page  to 10px */
    position: center;
    background-color: lightgray;          /* sets background color of entire page to light gray */
}

h1 {
    padding: 10px;                          /* sets the padding of heading 1 to 10px */
}

h2 {
    padding: 10px;                          /* sets the padding of heading 2 to 10 px */
}

h3 {
    padding: 10px;
}

p {
    padding-right: 5px;                     /* sets the right padding of my paragraph tags to 5px */
    padding-left: 5px;                      /* sets the left padding of my paragraph tags to 5px */
}

body {
    width: 90%;                          /* sets the width of my body text to 90% */
    max-width: 1024px;
    margin: 10px auto;                     /* sets the margin so it will be center of the document */
}

/* added */ 
header {
    width: 97.917%;
    padding: 10px 1.0417%;
    clear: both;
    font-size: 2em;
}

/* image but it is in a class so it doesn't affect other images */
#image1 {
    width: 450px;
    height: 250px;
    border: 5px solid blue;                                 /* sets the border of my picture at 5px with a solid blue color */
    border-radius: 50px;                                      /* sets the border radius to 50px so it has rounded corners */
    background-image: url("../images/trek.jpeg");
    background-size: 500px;  
    background-position: center;  
    background-repeat: no-repeat;

}

#image1:hover {                                               /* once user hovers over image it will change to a new image */
    background-image: url("../images/family.jpeg");
    background-size: 500px;
    background-position: center;
}

ul {
    padding-left: 10px;                     /* sets the left padding of unordered list to 10px */
}

li {
    padding-left: 10px;                     /* sets the left padding of the elements in my unordered list to 10px */
}

main {                                      /* sets up the main column which is on the left side of the document */
    width: 47.917%;
    padding: 10px 1.0417%;
    background-color: lightgray;
    float: left;
}

aside {                                    /* sets up the aside column which is on the right side of the document */
    width: 47.917%;
    padding: 10px 1.0417%;
    background-color: lightgray;
    float: right;
}


footer {                                  /* sets up the footer in the document */
    clear: both;
}

figcaption {                              /* sets up figcaption for table in services page */
    display: block;
    font-weight: bold;
    font-size: 2.5em;
    padding-top: .25em;
    margin-bottom: 1em;
    border-bottom: 1px solid black;
}

table, th, td {                          /* applies border to table on services page */
    border: 1px solid;
}

table {                                  /* sets up table on services page */
    margin-top: 1em; 
    margin-bottom: 1em; 
    padding-top: .5em;
}

legend {                                 /* sets up legend on services page */
    color: black; 
    font-weight: bold; 
    font-size: 1.5em; 
    margin-bottom: .5em;
}

/* sets up the navigation menu in the document */
#nav_menu ul {
    list-style-type: none; padding: 1em 0;
    font-size: 1.5em;
    text-align: left;
    } 
#nav_menu ul li { 
   display: inline; 
   padding: 0 1em; } 
#nav_menu ul li a { 
   font-weight: bold; 
   color: blue; }
#nav_menu ul li a.current { text-decoration: none; }

